.main{
    background-color: silver;
    justify-content: space-around;
    display: flex;
    flex-wrap:wrap;
}
#side1,#side2,#side3{
    text-align: center;
    background-color:blue;
    color: white
    border: 30;
    width: 30%;
    height: 5%;
    margin-bottom: 100%;
    padding-bottom: -10%;
    border-radius:10% 0%;
}
img{
    border-radius: 50%
}
